@model IEnumerable<OutOfOfficeHRApp.Models.LeaveRequest>

@{
    ViewData["Title"] = "Leave Request List";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Leave request list</h1>
    <a class="btn btn-primary" asp-controller="LeaveRequest" asp-action="Create"><i class="bi bi-clipboard-plus"></i></a>
</div>

<table class="table">
    <thead>
        <tr class="text-center">
            <th class="col-sm-1">#</th>
            <th>@Html.DisplayNameFor(model => model.Employee)</th>
            <th>@Html.DisplayNameFor(model => model.AbsenceReason)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td class="text-center">
                    @(index++).
                </td>
                <td>@Html.DisplayFor(modelItem => item.Employee.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.AbsenceReason.Name)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    <a class="btn btn-secondary"></a>
                    <a class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    @if (ViewBag.TotalPages > 1)
    {
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" aria-label="Previous" href="@Url.Action("GetEmployee", new{page = ViewBag.CurrentPage - 1})">&laquo;</a>
            </li>
            <li class="page-item @(1 == ViewBag.CurrentPage ? "active":"")">
                <a class="page-link" href=@Url.Action("GetEmployee", new {page = 1})>1</a>
            </li>
            @if (ViewBag.CurrentPage > 3)
            {
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
            }
            @for (int i = Math.Max(2, ViewBag.CurrentPage - 1); i < Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2); i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("GetEmployee", new { page = i })">@i</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages - 2)
            {
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
            }

            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "active":"")">
                <a class="page-link" href=@Url.Action("GetEmployee", new {page = ViewBag.TotalPages})>@(ViewBag.TotalPages)</a>
            </li>


            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("GetEmployee", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">
                    &raquo;
                </a>
            </li>

        </ul>
    }
</nav>